template element TextArea(letraAmarilla)
{
    font_name Blue
		metrics_mode relative
		char_height 0.012
		colour 1.0 1.0 0.0    
}


template element TextArea(LetrasJuego)
{
    font_name Blue
		metrics_mode relative
		char_height 0.013
		colour 1.0 1.0 1.0    
}

estadoInfo
{

    container Panel(estadoInfo) 
    {
 	metrics_mode relative
        left 0.8
        top 0.5
        width 0.19
        height 0.2
        vert_align top
        horz_align left
	material panel
	

		    element TextArea(hpInfo) : letraAmarilla 
		    {
				  top 0.03
				  left 0.11
		    }
		    
		    element TextArea(enerInfo) : letraAmarilla 
		    {	
				  top 0.05
				  left 0.11	 
		    }
		    
		    element TextArea(propInfo) : letraAmarilla 
		    {
				  top 0.07
				  left 0.11	 
		    }
		    
		    
    }
    
}


pcChat
{

    container Panel(pcChat) 
    {
 	metrics_mode relative
        left 0.3
        top 0.82
        width 0.4
        height 0.14
        vert_align top
        horz_align left
	material panel
    }
}

